<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 8%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card" >
        <div class="card-body shadow-lg grad">
          <form name="assetForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Support' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Support' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Name Field with Validation -->

            <div class="form-group pt-2">
              <label>
                <b>{{ 'User Name' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i></div>
                </div>

                <input type="text"  name="userName" [(ngModel)]="form.data.userName" class="form-control"
                   maxlength="50"
                  placeholder="{{ 'Enter User Name' | translate }}">
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.userName" class="alertRedColor">{{ form.inputerror.userName }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Issue Type' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i></div>
                </div>

                <select class="form-control" name="issueType"  [(ngModel)]="form.data.issueType"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="LOGIN ISSUE">{{'LOGIN ISSUE' | translate }} </option>
                  <option value="PASSWORD RESET">{{'PASSWORD RESET' | translate }} </option>
                  <option value="BUG REPORT">{{'BUG REPORT' | translate }} </option>
                  <option value="PAYMENT FAILED">{{'PAYMENT FAILED' | translate }} </option>
                  <option value="FEATURE REQUEST">{{'FEATURE REQUEST' | translate }} </option>
                  <option value="OTHER">{{'OTHER' | translate }} </option>
                </select>
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.issueType" class="alertRedColor">{{ form.inputerror.issueType }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Ticket Status' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <select class="form-control" name="ticketStatus"  [(ngModel)]="form.data.ticketStatus"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="OPEN">{{'OPEN' | translate }} </option>
                  <option value="IN PROGRESS">{{'IN PROGRESS' | translate }} </option>
                  <option value="ON HOLD">{{'ON HOLD' | translate }} </option>
                  <option value="RESOLVED">{{'RESOLVED' | translate }} </option>
                  <option value="CLOSED">{{'CLOSED' | translate }} </option>
                  <option value="REOPENED">{{'REOPENED' | translate }} </option>
                </select>
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.ticketStatus" class="alertRedColor">{{ form.inputerror.ticketStatus }}</span>
            </div> 

            


             <div class="form-group pt-2">
              <label>
                <b>{{ 'Issue Description' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i></div>
                </div>
                </div>

               <textarea name="issueDescription" [(ngModel)]="form.data.issueDescription" class="form-control"
                  placeholder="{{'Enter Issue Description' | translate }}"></textarea>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.issueDescription" class="alertRedColor">{{ form.inputerror.issueDescription }}</span>
            </div>

            


            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/supportlist']"
                  style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>