<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 8%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card" >
        <div class="card-body shadow-lg grad">
          <form name="assetForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Patient' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Patient' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Name Field with Validation -->

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Full Name' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <input type="text" name="fullName" [(ngModel)]="form.data.fullName" class="form-control"
                  #clientName="ngModel" maxlength="20" pattern="^[A-Za-z ]+$"
                  (keydown)="filterInputS($event, 'errorMessagefullname', 20, 'char')"
                  placeholder="{{ 'Enter full name' | translate }}">
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.fullName" class="alertRedColor">{{ form.inputerror.fullName }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Gender' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <select class="form-control" name="gender" id="gender" [(ngModel)]="form.data.gender"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Male">{{'Male' | translate }} </option>
                  <option value="Female">{{'Female' | translate }} </option>
                </select>
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.gender" class="alertRedColor">{{ form.inputerror.gender }}</span>
            </div>


            <div class="form-group pt-2">
              <label>
                <b>{{ 'Age' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <input type="number" name="age" [(ngModel)]="form.data.age" class="form-control"
                  #clientName="ngModel" maxlength="20" pattern="^[A-Za-z ]+$"
                  (keydown)="filterInputS($event, 'errorMessageAge', 20, 'char')"
                  placeholder="{{ 'Enter Age' | translate }}">
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.age" class="alertRedColor">{{ form.inputerror.age }}</span>
            </div>


             <div class="form-group pt-2">
              <label>
                <b>{{ 'Phone Number' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <input type="text" name="phoneNumber" [(ngModel)]="form.data.phoneNumber" class="form-control"
                  #clientName="ngModel" maxlength="20" pattern="^[A-Za-z ]+$"
                  (keydown)="filterInputS($event, 'errorMessagephonenumber', 20, 'char')"
                  placeholder="{{ 'Enter phone number' | translate }}">
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.phoneNumber" class="alertRedColor">{{ form.inputerror.phoneNumber }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Address' | translate }}</b>
                <span class="required-field">*</span>
              </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-map-marker grey-text"></i></div>
                </div>
                <input type="text" name="address" [(ngModel)]="form.data.address" class="form-control"
                   maxlength="35"
                  placeholder="{{ 'Enter address' | translate }}">
              </div>
              <span *ngIf="form.inputerror.address" class="alertRedColor">{{ form.inputerror.address }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Disease' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user grey-text"></i>
                  </div>
                </div>
                <select class="form-control" name="disease" id="disease" [(ngModel)]="form.data.disease"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Select Disease' | translate }}</option>
                  <option value="Diabetes Mellitus">{{'Diabetes Mellitus' | translate }} </option>
                  <option value="Hypertension (High Blood Pressure)">{{'Hypertension (High Blood Pressure)' | translate }} </option>
                  <option value="Asthma">{{'Asthma' | translate }} </option>
                  <option value="Dengue Fever">{{'Dengue Fever' | translate }} </option>
                  <option value="Typhoid Fever">{{'Typhoid Fever' | translate }} </option>
                  
                </select>
              </div>

              <!-- Custom validation messages from component -->
              <span *ngIf="form.inputerror.disease" class="alertRedColor">{{ form.inputerror.disease
                }}</span>
            </div>


             <div class="form-group pt-2">
              <label>
                <b>{{ 'Admission Date' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-money-bill"></i>
                  </div>
                </div>

                <input type="date" name="admissionDate" [(ngModel)]="form.data.admissionDate"
                  class="form-control"  maxlength="50"
                  placeholder="{{ 'Enter Admission Date' | translate }}">
              </div>

              <!-- Custom validation messages from component -->
              <span *ngIf="form.inputerror.admissionDate" class="alertRedColor">{{ form.inputerror.admissionDate
                }}</span>
            </div>


            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/patientlist']"
                  style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>