<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 8%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card" >
        <div class="card-body shadow-lg grad">
          <form name="assetForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Vehical' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Vehical' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Name Field with Validation -->

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Vehical No' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i></div>
                </div>

                <input type="text"  name="vehicalNo" [(ngModel)]="form.data.vehicalNo" class="form-control"
                   maxlength="20" pattern="[A-Za-z0-9]+"
                  placeholder="{{ 'Enter vehical no' | translate }}">
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.vehicalNo" class="alertRedColor">{{ form.inputerror.vehicalNo }}</span>
            </div>

            <div class="form-group pt-2">
              <label>
                <b>{{ 'Body Type' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>

                <select class="form-control" name="bodyType"  [(ngModel)]="form.data.bodyType"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Hatchback">{{'Hatchback' | translate }} </option>
                  <option value="Sedan">{{'Sedan' | translate }} </option>
                  <option value="SUV">{{'SUV' | translate }} </option>
                  <option value="MUV">{{'MUV' | translate }} </option>
                  <option value="Coupe">{{'Coupe' | translate }} </option>
                  <option value="Convertible">{{'Convertible' | translate }} </option>
                  <option value="Estate">{{'Estate' | translate }} </option>
                  <option value="Pickup Truck">{{'Pickup Truck' | translate }} </option>
                  <option value="Van">{{'Van' | translate }} </option>
                  <option value="Bus">{{'Bus' | translate }} </option>
                </select>
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.bodyType" class="alertRedColor">{{ form.inputerror.bodyType }}</span>
            </div> 

            


             <div class="form-group pt-2">
              <label>
                <b>{{ 'Purchase Date' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-table grey-text"></i>
                  </div>
                </div>

                <input type="date" name="purchaseDate" [value]="form.data.purchaseDate | date:'yyyy-MM-dd'"
                 (input)="form.data.purchaseDate=parseDate($event.target.value)" class="form-control"  maxlength="50"
                  placeholder="{{ 'Enter Purchase Date' | translate }}">
              </div>

              <!-- Custom validation messages from component -->
              <span *ngIf="form.inputerror.purchaseDate" class="alertRedColor">{{ form.inputerror.purchaseDate
                }}</span>
            </div>


              <div class="form-group pt-2">
              <label>
                <b>{{ 'Brand' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-bell grey-text"></i></div>
                </div>

                <select class="form-control" name="brand"  [(ngModel)]="form.data.brand"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Maruti Suzuki">{{'Maruti Suzuki' | translate }} </option>
                  <option value="Tata Motors">{{'Tata Motors' | translate }} </option>
                  <option value="Mahindra">{{'Mahindra' | translate }} </option>
                  <option value="Hyundai">{{'Hyundai' | translate }} </option>
                  <option value="Kia">{{'Kia' | translate }} </option>
                  <option value="Honda">{{'Honda' | translate }} </option>
                  <option value="Toyota">{{'Toyota' | translate }} </option>
                  <option value="Moris Garage">{{'Moris Garage' | translate }} </option>
                </select>
              </div>

              <!-- Custom error messages from component -->
              <span *ngIf="form.inputerror.brand" class="alertRedColor">{{ form.inputerror.brand }}</span>
            </div>


            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/vehicallist']"
                  style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>