<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url('assets/files/teahu.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }

  .search-inputs .col-sm-2,
  .search-inputs .col-sm-1 {
    padding: 0 5px;
  }

  .alertRedColor {
    color: red;
  }
</style>
<div class="content-wrapper ">
  <div class="container-fluid">
    <div class="panel panel-primary" style="padding-top: 73px;">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{ 'Vehical List' | translate }}</h1>
      </div>

      <div class="row search-inputs p-1 justify-content-center g-3">
        <div class="col-sm-2">
          <input type="text" name="vehicalNo" [(ngModel)]="form.searchParams.vehicalNo" class="form-control"
            placeholder="{{ 'Enter Vehical No' | translate }}">
          <span *ngIf="errorMessageVehicalNo" class="alertRedColor">{{ errorMessageVehicalNo}}</span>
        </div>

        <div class="col-sm-2">
          <input type="date" name="purchaseDate" [(ngModel)]="form.searchParams.purchaseDate" class="form-control"
            placeholder="{{ 'Enter Purchase Date' | translate }}">
          <span *ngIf="errorMessagePurchaseDate" class="alertRedColor">{{ errorMessagePurchaseDate}}</span>
        </div>

        <div class="col-sm-2">
          <select class="form-control" name="bodyType"  [(ngModel)]="form.searchParams.bodyType"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Hatchback">{{'Hatchback' | translate }} </option>
                  <option value="Sedan">{{'Sedan' | translate }} </option>
                  <option value="SUV">{{'SUV' | translate }} </option>
                  <option value="MUV">{{'MUV' | translate }} </option>
                  <option value="Coupe">{{'Coupe' | translate }} </option>
                  <option value="Convertible">{{'Convertible' | translate }} </option>
                  <option value="Estate">{{'Estate' | translate }} </option>
                  <option value="Pickup Truck">{{'Pickup Truck' | translate }} </option>
                  <option value="Van">{{'Van' | translate }} </option>
                  <option value="Bus">{{'Bus' | translate }} </option>
                </select>
        </div>


        <div class="col-sm-2">
           <select class="form-control" name="brand"  [(ngModel)]="form.searchParams.brand"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Maruti Suzuki">{{'Maruti Suzuki' | translate }} </option>
                  <option value="Tata Motors">{{'Tata Motors' | translate }} </option>
                  <option value="Mahindra">{{'Mahindra' | translate }} </option>
                  <option value="Hyundai">{{'Hyundai' | translate }} </option>
                   <option value="Kia">{{'Kia' | translate }} </option>
                  <option value="Honda">{{'Honda' | translate }} </option>
                  <option value="Toyota">{{'Toyota' | translate }} </option>
                  <option value="Moris Garage">{{'Moris Garage' | translate }} </option>
                </select>
        </div>
        

        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary w-100">{{ 'Search' | translate }}</button>
        </div>

        <div>
          <button (click)="forward('/vehical')" type="button" class="btn btn-success w-100">
            {{ 'Add Vehical' | translate }}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger w-100">{{ 'Delete' | translate }}</button>
        </div>
      </div>


      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover table-dark  ">
          <thead class="thead-dark text-uppercase ">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{ 'S.No' | translate }}</th>
              <th>{{ 'Vehical No' | translate }}</th>
              <th>{{ 'Body Type' | translate }}</th>
              <th>{{ 'Brand' | translate }}</th>
              <th>{{ 'Purchase Date' | translate }}</th>
              <th>{{ 'Edit' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" /></td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.vehicalNo }}</td>
              <td>{{ m.bodyType }}</td>
              <td>{{m.brand}}</td>
              <td>{{ m.purchaseDate | date : 'dd-MM-yyyy' }}</td>

              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/vehical/' +  m.id)">
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' | translate
            }}</button>

          <div>
            <a class="btn btn-warning mr-1" [routerLink]="['/vehicallist']" (click)="exit()">
              {{ 'Reset' | translate }}
            </a>
          </div>

          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/vehicallist']" (click)="exit()">
              {{ 'Back' | translate }}
            </a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{ 'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>